/**
 * Colors
 *
 * Each colors must be exact RGB values/numbers.
 * @see https://vitepress.dev/guide/extending-default-theme#customizing-css
 */
:root {
  --vp-c-brand-1: #4f46e5;
  --vp-c-brand-2: #4338ca;
  --vp-c-brand-3: #3730a3;
}

.vp-doc h1 {
  border-bottom: 1px solid var(--vp-c-divider);
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}